body{
    font-family: 'Roboto Slab', serif;
    background-image: url(./Asset/Images/bgimage1.jpg);
    filter: blur(2px);
}

.Group{
    width: auto;
    height: auto;
    margin: 40px;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.19);
}

.form-group {
    margin: 10px;
    display: flex;
}

label {
    display: block;
}

input[type="text"],
input[type="number"] {
    width: auto;
    padding: 5px;
    margin-left: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.member-fields input {
    margin: 10px;
    padding: 10px;

}

.member_detail {
    display: flex;
}
